.footer {
  background-color: #0d0d0d;
  color: #fff;
  padding: 3rem 2rem;
  position: relative;
  font-family: 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1500px;
    margin: 0;
  }

  &__column {
    flex: 1 1 2rem;

    h4 {
      font-size: 1rem;
      margin-bottom: 1rem;
      color: #aaa;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.5rem;
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
          color: #ddd;
        }
      }
    }
  }

  

  .newsletter__form {
    display: flex;
    border: 1px solid #555;
    border-radius: 2px;
    overflow: hidden;
    max-width: 500px;

    input {
      flex: 1;
      padding: 0.8rem;
      border: none;
      outline: none;
      background: transparent;
      color: white;
    }

    button {
      background-color: white;
      color: black;
      padding: 0 1rem;
      margin: 0.2rem;
      border: none;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: 3rem;
    padding: 0rem;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    
    

    span {
      color: #bbb;
    }
  }

  &__brand {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    max-width: 1500px;


    h1 {
      font-family: 'Georgia', serif;
      font-size: 5rem;
      letter-spacing: 0.1rem;
      
      color: white;
    }
  }

  
  
}

@media screen and (max-width: 768px) {
  .footer__top {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; // optional: spacing between columns
}

.footer__column {
  flex: 1 1 8rem;
}

.footer__column:nth-child(3) {
  width: 100%;  // Move SOCIAL to next line
  margin-top: 1.5rem;
}

.footer__column.newsletter {
  width: 100%;
  margin-top: 2rem;
}

.footer__bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__brand{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 0;
  
  h1{
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
}

}
